main {
    padding-top: 6rem;
    @media screen and (max-width: $mobile){
        padding-top: 3.75rem;
    } 
}
section {
    z-index: 1;
    padding: 2rem;
    @media screen and (max-width: $mobile) {
        padding: 2rem 1rem;
    }
}
.grid {
    display: grid;
    align-items: start;
    &.grid-2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 3rem;
        @media screen and (max-width: $tablet) {
            grid-template-columns: 1fr;
        }
    }
    &.grid-3 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
        @media screen and (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
    &.grid-5 {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
        @media screen and (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
    &.grid-2-3 {
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto;
        grid-gap: 2rem;
        @media screen and (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
    &.grid-3-2 {
        grid-template-columns: 3fr 2fr;
        grid-template-rows: auto;
        grid-gap: 1rem;
        @media screen and (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
    .right-block, .left-block {
        img {width: 100%;}
    }
}

.container-fluid {
    .text-block {
        &.first-block {
            padding-left: 20%;
            @media screen and (max-width: $mobile) {
                padding: 0 5% !important;
            }
        }
    }
}

.flex {
    display: flex;
    &.flex-center {justify-content: center;}
    &.right {justify-content: flex-end;}
    &.left {justify-content: flex-start;}
}