.btn {
    display: inline-block;
    border-radius: 5rem;
    padding: 1.5rem 3.5rem;
    font-size: 38px;
    line-height: 42px;
    background: $green;
    color: $white;
    text-transform: uppercase;
}