.btn {
    display: inline-block;
    border-radius: 5rem;
    padding: 1.5rem 3.5rem;
    font-size: 38px;
    line-height: 42px;
    background: $green;
    color: $white;
    text-transform: uppercase;
    border: 3px solid transparent;
    &:hover {
        color: $white;
        padding: 1.5rem 5rem;
        border: 3px solid $white;
    }
}