footer {
    padding: 1.5rem;
    font-size: $font-size;
    line-height: 22px;
    .grid {
        justify-items: end;
        .copyright,
        .social {
            display: flex;
            align-items: center;
        }
        .copyright {
            justify-self: stretch;
            justify-content: space-between;
            @media screen  and (max-width: $mobile) {
                flex-direction: column;
            }
            a, a:hover {text-decoration: underline;}
            img { max-width: 5rem; }
        }
        .social {
            justify-content: flex-end;
            @media screen and (max-width: $tablet) {
                justify-self: stretch;
            }
            @media screen  and (max-width: $mobile) {
                justify-content: center;
                a:first-child {
                    img {
                        margin: 0;
                    }
                }
            }
            img {
                margin-left: 2rem;
            }
            .language-selector {
                margin-left: 3rem;
                @media screen  and (max-width: $mobile) {
                    display: none;
                }
                a.active, a:hover {text-decoration: underline;}
            }
        }
    }
}