form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    input, textarea, select {
        border: 3px solid $green;
        border-radius: 3rem;
        padding: .7rem 1.5rem;
        font-weight: bold;
        color: $green;
        margin-bottom: 1rem;
        margin-right: 1rem;
        width: calc(50% - 1rem);
        font-size: 20px;
        @media screen and (max-width: $tablet) {
            width: 100%;
            margin-right: 0;
        }
        &[type="submit"] {
            padding: .7rem 1.5rem;
            line-height: 1;
            border: 3px solid $green;
            text-transform: uppercase;
            background: $green;
            color: $white;
            max-width: 30%;
            &.submit-white {
                background: $white;
                color: $blue;
                border-color: $white;
            }
        }
    }
    .wide {
        width: calc(100% - 1rem);
        @media screen and (max-width: $tablet) {
            width: 100%;
        }
    }
    textarea { border-radius: 2rem; }                                       
    .policy-wrapper {
        flex-grow: 1;
        width: calc(50% - 1rem);
        display: flex;
        flex-direction: column;
        @media screen and (max-width: $tablet) {
            width: 100%;
        }
    }
    .checkbox, .radio {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:hover input ~ .checkmark {
            background-color: #ffffff50;
        }
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark {
                background-color: $green;
            }
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            border-radius: 50%;
            border: 2px solid $green;
            background-color: $white;
          }
    }
    &.pure {
        input, textarea {
            border: 3px solid $white;
            background: transparent;
            color: $white;
        }
        input {
            &:checked ~ .checkmark {
                background-color: $white;
            }
        }
        .checkmark {
            border: 2px solid $white;
            background-color: $blue;
        }
        ::placeholder {
            color: $white;
        }
    }
}

::placeholder {
    opacity: .7;
    color: $green;
}