.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
    position: fixed;
    z-index: 998;
    .navbar-logo {}
    .navbar-toggler {
        border: 0;
        border-radius: 0;
        background: transparent;
        .navbar-toggler-icon {}
    }
    .navbar-nav {
        position: absolute;
        top: 13vh;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem;
        .nav-item {
            flex: 1;
            font-size: 120px;
            line-height: 145px;
            font-weight: normal;
            margin-right: 3rem;
            a {
                -webkit-text-fill-color: $green; /* Will override color (regardless of order) */
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: $white;
                white-space: nowrap;
            }
            &:hover {
                a {
                    text-decoration: underline;
                    text-decoration-color: $green;
                }
            }
        }
    }
}