.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem;
    position: fixed;
    z-index: 998;
    @media screen  and (max-width: $mobile) {
        padding: 1rem;
    }
    .navbar-logo {
        width: 8rem;
        height: auto;
    }
    .hamburger {
        .hamburger-box {
            width: 4.75rem;
            height: 2.2rem;
            .hamburger-inner,
            .hamburger-inner:before,
            .hamburger-inner:after {
                width: 4.75rem;
                height: 5px;
                border-radius: 0;
                background-color: $green;
            }
            .hamburger-inner:before { top: -15px; }
            .hamburger-inner:after { bottom: -15px; }
        }
        &.content--white {
            .hamburger-inner,
            .hamburger-inner:before,
            .hamburger-inner:after { background: $white; }
            &+.navbar-nav {
                .nav-item a {
                    background: $green;
                }
            }
        }
        &.is-active {
            .hamburger-inner:after { bottom: 0; }
        }
        &.is-active:hover,
        &:hover {
            opacity: 1;
        }
    }
    .navbar-nav {
        position: absolute;
        top: 13vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2rem;
        @media screen and (max-width: $tablet) {
            padding-top: 20vh;
            height: 85vh;
        }
        @media screen  and (max-width: $mobile) {
            width: 100vw;
            padding: 1rem;
        }
        .nav-item {
            flex: 1;
            font-size: 120px;
            line-height: 145px;
            font-weight: normal;
            margin-right: 3rem;
            @media screen and (max-width: $tablet) {
                font-size: 87px;
                line-height: 100px;
            }
            @media screen  and (max-width: $mobile) {
                font-size: 67px;
                line-height: 75px;
            }
            a {
                white-space: nowrap;
                background: white;
                border-radius: 4rem;
                padding: 0 2rem;
            }
            &:hover {
                a {
                    text-decoration: underline;
                    // text-decoration-color: $green;
                }
            }
        }
    }
}