.news-list {
    .news-post {
        margin-bottom: 6rem;
        .news-image {
            @media screen and (max-width: $tablet) {
                img { width: 100%; }
            }
        }
        .news-text {
            h3 {
                @media screen  and (min-width: $mobile) {
                    height: 6rem;
                }
            }
        }
        .more {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            width: 100%;
            a {
                font-weight: normal;
                font-size: 85px;
                line-height: 95px;
                flex: 1;
            }
            span {
                height: 2px;
                width: 100%;
                background: $green;
                margin-bottom: 1rem;
                margin-right: 1rem;
            }
        }
    }
}