.news-list {
    .news-post {
        margin-bottom: 6rem;
        .grid-2 {
            @media screen and (max-width: $tablet) {
                grid-gap: 3rem;
            }
            @media screen and (min-width: $desktop-large) {
                grid-gap: 10rem;
            }
        }
        .news-image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            @media screen and (max-width: $tablet) {
                width: 100%;
                min-height: 300px;
            }
        }
        .news-text {
            padding-bottom: 6rem;
            h3 {
                @media screen  and (min-width: $mobile) {
                    height: 6rem;
                }
            }
        }
        .more {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-end;
            width: 100%;
            a {
                font-weight: normal;
                font-size: 85px;
                line-height: 95px;
                flex: 1;
                &:hover {
                    &+span {
                        margin-right: 3rem;
                    }
                }
            }
            span {
                height: 2px;
                width: 100%;
                background: $green;
                margin-bottom: 1rem;
                margin-right: 1rem;
            }
        }
    }
}